.gaga{
    margin-top:180px;
    margin-left:600px;
    color: #0affce;
 font-family: 'Russo One', sans-serif;


}

.me{
	font-family: 'Unbounded', cursive;
font-family: 'Yeseva One', cursive;
  color:#010008;
	margin-top:50px;
	  margin-left:600px;
}

.font{
	font-family: 'Unbounded', cursive;
font-family: 'Yeseva One', cursive;
	color:#00fc15 ;
	margin-top:20px;
	  margin-left:600px;
}

.alenaexe{
	font-family: 'Unbounded', cursive;
font-family: 'Yeseva One', cursive;
	color:#00fc15;
	margin-top:20px;
	  margin-left:600px;
}

a{
	color:black;
}




body{
	background-color:#ff00d4;
}
h1{
	margin-bottom:80px;
	margin-left:20px;
	color:#00f7ff;
}

img{
	margin-left:20px;
}

